<html ng-app="app" ng-csp>
<head>
  <script src="/js/angular/angular.min.js"></script>
  <script src="/src/options.js"></script>
  <link href="/src/options.css" rel="stylesheet">
</head>
<body>

<h1>Server Switcher</h1>

<button ng-click="newProject()">Add Project</button>


<ul>
  <li ng-repeat="project in projects">
    <form ng-submit="save(project)">
      <input placeholder="Project Name" ng-model="project.name" required>
      <ul>
        <li ng-repeat="environment in project.environments">
          <input ng-model="environment.name" placeholder="Environment Name" required>
          <input ng-model="environment.regex" placeholder="Regex" required>
          <input ng-model="environment.base" placeholder="Base Path (for replacement)" required>
          <button ng-if="$index" ng-click="project.environments.splice($index, 1)" type="button">Remove</button>
        </li>
      </ul>
      <button ng-click="project.environments.push({})" type="button">New Environment</button>
      <button type="submit">Save</button>
    </form>
  </li>

</ul>

</body>
</html>
